body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
}
h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}
h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
a {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  text-decoration: none;
  margin: 10px 20px;
}
a:hover {
  color: #EAF6F6;
}
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
span {
  text-decoration: underline;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}
.code-img {
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}
.chillie-img {
  width: 25%;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}
hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
p {
  line-height: 2;
  color: #40514E;
}
.btn {
  border-radius: 8px;
  color: #fff;
  background-color: #11cdd4;
  line-height: 2;
  padding: 10px;
  text-decoration: none;
}
.btn:hover {
  background-color: #11cdc0;
}
.contact-me {
  padding: 10px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.middle-container {
  margin: 100px 0;
}
.intro {
  width: 30%;
  margin: auto;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.bottom-container p {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
